In [18]:
import pandas as pd
import numpy as np

In [103]:
li = []
import fileinput
import re
for line in fileinput.FileInput('schedule_Sample.txt'):
    line = re.sub('^,','', line.rstrip())
    line = line.rstrip(',')
    li.append(line.split(","))

In [173]:
li2 = []
li3=[]
for i in li:
    if('Every 'in i[0]):
        li2.append(i)
    if('Monthly 'in i[0]):
        li2.append(i)
for i in li:
    if i not in li2:
        li3.append(i)

In [174]:
li3_head = li3.pop(0)

In [175]:
df = pd.DataFrame(li3, columns=li3_head)

In [177]:
display(df)

  Report Name         Frequency      Time
0          aa  Monthly Schedule  16:30:00
1          bb  Monthly Schedule  11:59:00
2          cc    Daily Schedule  23:37:00
3          dd   Weekly Schedule  15:21:00
4          ee   Weekly Schedule  17:30:00
5          ff   Weekly Schedule  13:45:00
6          gg   Weekly Schedule  13:45:00
7          hh   Weekly Schedule  17:30:00
8          ii   Weekly Schedule  16:30:00

In [181]:
newtest = [x[0] for x in li2]

In [183]:
df['exact']=newtest

In [186]:
df.groupby(['Frequency','Report Name']).sum()

                                  Time  \
Frequency        Report Name
Daily Schedule   cc           23:37:00
Monthly Schedule aa           16:30:00
                 bb           11:59:00
Weekly Schedule  dd           15:21:00
                 ee           17:30:00
                 ff           13:45:00
                 gg           13:45:00
                 hh           17:30:00
                 ii           16:30:00

                                                                     exact
Frequency        Report Name
Daily Schedule   cc                                         Every 1 day(s)
Monthly Schedule aa           Monthly Absolute: Day 10 of every 1 month(s)
                 bb           Monthly Absolute: Day 10 of every 1 month(s)
Weekly Schedule  dd                            Every 1 week(s) on: Tuesday
                 ee                            Every 1 week(s) on: Tuesday
                 ff                           Every 1 week(s) on: Thursday
                 gg                             Every 1 week(s) on: Monday
                 hh                             Every 1 week(s) on: Sunday
                 ii                             Every 1 week(s) on: Sunday